[submodule "wp"]
	path = wp
	url = https://github.com/coreyp/WordPress.git
[submodule "content/themes/P2-Categories"]
	path = content/themes/P2-Categories
	url = https://github.com/coreyp/P2-Categories.git
[submodule "content/themes/alienship"]
	path = content/themes/alienship
	url = https://github.com/coreyp/alienship.git
[submodule "content/plugins/participad"]
	path = content/plugins/participad
	url = https://github.com/coreyp/participad.git
[submodule "content/plugins/stripe-donations"]
	path = content/plugins/stripe-donations
	url = https://github.com/coreyp/stripe-donations.git
[submodule "content/plugins/alienship-shortcodes"]
	path = content/plugins/alienship-shortcodes
	url = https://github.com/mindctrl/alienship-shortcodes.git
[submodule "content/plugins/remove-dashboard-access"]
	path = content/plugins/remove-dashboard-access
	url = https://github.com/coreyp/remove-dashboard-access.git
